.wedding-page {
    font-family: Arial, sans-serif;
    background-color: #FFF;
    color: #333;
    text-align: center;
    padding: 20px;
}

.header {
    background-color: #FFF;
    padding: 40px 20px;
}

.header h1 {
    color: #DAA520;
    font-size: 1.7em;
}

.details-section,
.location-section,
.rsvp-section {
    background: #ebebeb;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    margin-top: 20px;
    padding: 10px;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.image-container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    box-sizing: border-box;
}

.image-home {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {

    .banner-container {
        padding: 10px;
    }

    .image-container {
        padding: 5px;
    }

    .image-home {
        border-radius: 5px;
    }
}

@media (min-width: 1200px) {

    .banner-container {
        padding: 40px;
    }

    .image-home {
        border-radius: 15px;
    }
}


.banner {
    flex: 1;
    height: 2px;
    background-color: #DAA520;
}

.logo-container {
    margin: 0 10px;
}

.logo {
    height: 80px;
    width: auto;
}

.vinicula-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}

.to-confirm {
    bottom: 20px;
    right: 20px;
    background-color: #DAA520;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-left: 43px;
}