.banner-header {
    width: 100%;
    height: 500px;
    background-image: url('../images/header.jpg'); 
    background-size: cover;
    background-position: center 15%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.banner-content {
    text-align: center;
}

.countdown {
    height: 80px;
    color: #DAA520;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.time-segment {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 5px;
}

.time-value {
    font-size: 1.5em;
    font-weight: bold;
}

.time-label {
    font-size: 10px;
}

.banner-content nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.banner-content nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner-content h1 {
    margin-bottom: 15px;
}


.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #EBEBEB;
    margin: 2px 0;
    transition: 0.4s;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links ul li a {
    color: #EBEBEB;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        position: absolute;
        top: 30px;
        right: 15px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links ul li {
        margin: 15px 0;
    }
}